// SPDX-License-Identifier: MIT
// Copyright (c) 2026 Hannes Stauss <scalarion@nimblescape.com>
// Licensed under the MIT License. See LICENSE in the repository root for details.

rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
